<section class="plant">
  <img src="/images/{{plant.filename}}" alt="{{plant.description}}">
  <div class="plant-details">
    <h3>{{plant.name}}</h3>
    <p>{{plant.description}}</p>
  </div>
</section>
<!-- Handlebars Template -->
<div class="plant-card">
  <h2>{{name}}</h2>
  <p>Soil Type: {{soilType}}</p>
  <p>Watering Amount (inches): {{wateringAmount}}</p>
  <p>Toxic to Pets: {{toxicToPets}}</p>
  <p>Watering Frequency: {{wateringFrequency}}</p>
</div>