{{!-- Display user name / favorite plants (plants we favorited), possibly dummy buttons for future development / optionals: email & update password / delete profile/account --}}

<div class="row">
  <div class="col-md-12">
    <h2>Welcome, {{user.name}}!</h2>
    <p>Email: {{user.email}}</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Your Favorite Plants:</h3>

    <ul>
      {{#each favoritePlants}}
        <li>
          <strong>Name:</strong> {{name}}<br>
          <strong>Type:</strong> {{type}}<br>
          <!-- Add more properties as needed -->
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Other Account Information:</h3>

    <p>
      <!-- Display other account information here, such as account settings, profile picture, etc. -->
    </p>

    <!-- Placeholder buttons for future development -->
    <button class="btn btn-primary">Edit Profile</button>
    <button class="btn btn-danger">Delete Account</button>
  </div>
</div>



{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script> --}}
